@model QuranX.DomainClasses.Models.VerseNavigator
@using UrlTemplates = QuranX.DomainClasses.Models.UrlTemplates;


<div class="verse-navigator">
    <div class="chapters">
        <select id="verse-navigator-chapter-select">
            @foreach (var chapter in Model.Chapters)
            {
                string isSelected = Model.ChapterNumber == chapter.Number ? "selected" : "";
                <option @isSelected value="@chapter.Number">@chapter.Number - @chapter.EnglishName</option>
            }
        </select>
    </div>
    <div class="select-verse">
        <select id="verse-navigator-verse-select">
            @foreach(int verse in Enumerable.Range(1, Model.Chapters[Model.ChapterNumber - 1].NumberOfVerses))
            {
               string isSelected = Model.VerseNumber == verse ? "selected" : "";
               <option @isSelected>@verse</option>
            }
        </select>
        <a href="@UrlTemplates.GetUrl(Model.UrlTemplate, Model.BackChapterNumber, Model.BackVerseNumber)">
            <i class="glyphicon glyphicon-circle-arrow-up"/>
        </a>
        <a href="@UrlTemplates.GetUrl(Model.UrlTemplate, Model.ForwardChapterNumber, Model.ForwardVerseNumber)">
            <i class="glyphicon glyphicon-circle-arrow-down"/>
        </a>
    </div>

    <script>
        var chapters = [];
        function createChapterVersesArray() {
            @foreach(var group in Model.VersesByChapter)
            {
                string verses = string.Join(",", group.Select(x => x.ToString()));
                @Html.Raw($"chapters[{group.Key}] = [{verses}];");
            }
        }

        function populateVerses() {
            var chapterNumber = $('#verse-navigator-chapter-select').val();
            var verseSelector = $('#verse-navigator-verse-select');
            verseSelector.find('option').remove().end();
            $.each(chapters[chapterNumber], function (index, value) {
                var isSelected = '';
                if (chapterNumber == @Model.ChapterNumber && value == @Model.VerseNumber) {
                    isSelected = 'selected';
                }
                verseSelector.append('<option ' + isSelected + '>' + value + '</option>');
            });
        }

        $(document).ready(function () {
            createChapterVersesArray();
            $('#verse-navigator-chapter-select').change(populateVerses);
            populateVerses();
        });
    </script>
</div>

